:root {
    --cor-hover: #8F8D31;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #8F8D31;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgb(88, 64, 64);
    padding: 16px;
    width: 100%;
}

li {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 16px;
    transition: .5s;
}

.menu li:hover {
    background-color: var(--cor-hover);
}

.menu img {
    height: 85px;
}

.filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
    min-height: 80vh;
}

.filmes li {
    background-color: #8F8D31;
    padding: 25px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    text-align: center;
    
}

.filmes img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
    
}

.filmes button {
    background: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 60%;
    margin-top: 10px;
}

.filmes button:hover {
    background: #a1a095;
}

.shrek1, .shrek2, .shrek3, .shrek4 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shrek1 img, .shrek2 img, .shrek3 img, .shrek4 img {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* ======= SEGUNDA PAGE ======= */

#details-page {
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background-color: #8F8D31;
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 20px;
    
}

#movie-image-large {
    width: 25%;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

#cast-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#cast-container h1 {
    font-size: 40px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

#cast-list {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#cast-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cast-list li {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#cast-list li:hover {
    color: #3B5714;
}

#random-quote {
    margin-top: 70px; 
    padding: 12px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
#quote-text {
    margin-top: 15px;
    font-style: italic;
}

#back-button {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #754D43;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#actor-details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

#actor-details-container {
    width: 70%;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

#actor-name {
    font-size: 42px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 2;
}

#actor-details {
    font-size: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    margin-top: 40px; 
}

#back-to-movie {
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #754D43;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: 25vh;
    left: 0;
}