:root{
    --cor-hover: #8F8D31; 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol.li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #8F8D31; 
}
.menu {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 16px; 
    background-color: rgb(88, 64, 64) !important; 
    padding: 16px;
    width: 100%; 
}
li {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 16px;
    transition: .5s;
}
.menu li:hover {
    background-color: var(--cor-hover);
}
.menu img {
    height: 85px;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;
}
.filmes {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center; /* Centraliza verticalmente (se necessário) */
    flex-wrap: wrap; /* Permite que os cards se ajustem em telas menores */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 16px;
    min-height: 100vh; /* Faz com que ocupe toda a altura da tela */
}

.filmes li {
    background-color: #8F8D31;
    padding: 25px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    text-align: center;
}
.filmes img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
}

.filmes span {
    font-weight: bold;
    margin-bottom: 12px;
}
.filmes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
}
.filmes button {
    background: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 60%;
    margin-top: 10px; 
}
.filmes button:hover {
    background: #a1a095;
}
.shrek1 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek1 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}
.saiba-mais {
    background: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 60%; 
}

.saiba-mais:hover {
    background: #a1a095;
}

.shrek2 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek2 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}

.shrek2 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek2 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}
.shrek3 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek3 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}
.shrek3 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek3 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}
.shrek4 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek4 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}
.shrek4 {
    height: 500px;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shrek4 img {
    width: 100%;
    height: 320px; 
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px; 
}